<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
   <div id="todo-header-wrap">
      <form th:action="@{/todo/1}"  method="get">
         <div class="todo-search-wrap">
            <div class="todo-date-wrap">
                <input id="todo-date" type="date" name="start">
                ~
                <input id="todo-date" type="date" name="end">
            </div>            
            <div class="todo-search-bar-wrap">
                <select>
                   <option value="${communication_title}">제목</option>
                   <option value="${communication_assign}">배정대상</option>
                   <option value="${communication_state}">상태</option>
               </select>
                <input class="todo-search-bar" name="searchText" type="text" placeholder="검색어를 입력하세요.">
                <input class="todo-search-btn" type="submit" value="검색"/>
            </div>
         </div>
      </form>
      <div id="todo-btn-wrap">
         <form th:action="@{/todo/1}" method="get"> 
            <button class="todo-btns" type="submit" name="allTodo" value="전체 할 일">
               <span>전체 할 일</span>
               <span th:text="${allTodoCount}"></span>
            </button>
            <button class="todo-btns" type="submit" name="myTodo" value="내가 배정한 할 일">
               <span>내가 배정한 할 일</span>
               <span th:text="${myTodoCount}"></span>
            </button>
            <button class="todo-btns" type="submit" name="scheduled" value="진행예정">
               <span>진행예정</span>
                <span th:text="${scheduled}"></span>
            </button>
            <button class="todo-btns" type="submit" name="proceeding" value="진행중">
               <span>진행중</span>
                <span th:text="${proceeding}"></span>
            </button>
            <button class="todo-btns" type="submit" name="finish" value="진행완료">
               <span>진행완료</span>
                <span th:text="${finish}"></span>
            </button>
         </form>
      </div>
      <button class="todo-write-btn" type="button" onclick="todoPopupShow()">+ 할일 만들기</button>
      
      <!-- 모달창 영역 -->
      <div class="popup-back"></div> <!-- 모달 백그라운드 -->
      <div id="todo-write-popup">
         <form action="/writing" method="post">
            <label>타이틀</label><br/>
            <input class="write-title" type="text" name="title" placeholder="타이틀을 입력하세요"><br/><br/>
            <label>누구에게 배정하나요?</label><br/>
            <select name="employee">
               <option value="allEmployee">전체 직원</option>
               <option value="group">그룹</option>
               <option value="specificEmployee">특정 직원</option>
            </select><br/><br/>
            <label>기간</label><br/>
            작업 시작일 <input type="date" name="start"><br/>
            작업 종료일 <input type="date" name="end"><br/><br/>
            <label>작업</label><br/>
            <input class="write-content" type="text" name="content" placeholder="지시사항 입력(필수)">
            <input type="submit" value="저장" class="todo-write-save">
         </form>
      </div>      
   </div>
   
   <form action="/delete" id="frm" method="post">
      <div>
         <table  width="100%" id="todo-table">
            <tr class="todo-table-header">
               <th style="text-align: center; width:25px;"><input type="checkbox" id="chkAll" /></th>
               <th style="width:50px; font-size:11px; font-weight: 200; text-align: center;">No.</th>
               <th style="width:600px;">타이틀</th>
               <th style="width:100px;">시작일</th>
               <th style="width:100px;">종료일</th>
               <th style="width:80px;">배정대상</th>
               <th style="width:80px;">상태</th>
               <th style="width:80px;">작성자</th>
            </tr>
             <tr th:if="${booleancheck}" >
                 <td colspan="8" align="center">자료가 존재하지 않습니다.</td>
             </tr>
            
            <th:block th:each="dto : ${list}" >
                  <tr th:unless="${booleancheck}" > 
                  <td style="text-align: center;"><input type="checkbox" class="chk" name="deleteId" th:value="${dto.communication_num}"></td>
                  <td th:text="${dto.communication_num}" style="width:50px; font-size:11px; font-weight: 200; text-align: center;"></td>
                  <td>
                     <a th:href="@{'/view/'+${dto.communication_num}}">
                        <span th:text="${dto.communication_title}"></span>
                     </a>
                  </td>
                  <td th:text="${dto.communication_start}" style="font-size:13px; font-weight: 200; text-align: center;">시작일</td>
                  <td th:text="${dto.communication_end}" style="font-size:13px; font-weight: 200; text-align: center;">종료일</td>
                  <td th:text="${dto.communication_assign}" style="font-size:13px; font-weight: 200; text-align: center;">배정자</td>
                  <td th:text="${dto.communication_state}" style="font-size:13px; font-weight: 200; text-align: center;">상태</td>
                  <td th:text="${dto.employee_name}" style="font-size:13px; font-weight: 200; text-align: center;">작성자</td>
               </tr>
                
             </th:block>
         </table>
            <div th:object="${pageMaker}" id="paging">
                 <div class="big-width" style="text-align: center">
                     <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                     <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                         <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                         <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="@{/todo/{num}(num=${num})}"><code th:text="${num}"></code></a>
                     </th:block>
                     <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                 </div>
            
               <button type="button" onclick="fnDelete()" id=deletebtn>삭제</button>
                 <form action="todo" th:object="${criteria}" name="pageForm">
                     <input type="hidden" name="pageNum" th:field="*{pageNum}">
                     <input type="hidden" name="amount" th:field="*{amount}">
                 </form>
             </div>
   		</div>
   </form>
</div>

</body>

   <th:block layout:fragment="script">
      <script>
         //heder checkbox event
      $(document).ready(function() {
      $("#chkAll").click(function() {
         if($("#chkAll").is(":checked")) $("input[name=deleteId]").prop("checked", true);
         else $("input[name=deleteId]").prop("checked", false);
      });
   
      $("input[name=deleteId]").click(function() {
         var total = $("input[name=deleteId]").length;
         var checked = $("input[name=deleteId]:checked").length;
   
         if(total != checked) $("#chkAll").prop("checked", false);
         else $("#chkAll").prop("checked", true); 
      });
   });
         //body checkbox event
         $("input[name='deleteId']").click(function(){
            let dellnpLen = $("input[name='deleteId']").length;
            let dellnpChkLen = $("input[name='deleteId']:checked").length;
            if(dellnpLen == dellnpChkLen){
               $("#chkAll").prop("checked",true);
            }else{
               $("#chkAll").prop("checked",false);
            }
         });
         
         function fnDelete(){
            let dellnpChkLen = $("input[name='deleteId']:checked").length;
            if(dellnpChkLen > 0){
               	if(confirm("삭제하시겠습니까?")){
                  let frm = $("#frm");
                  frm.attr("action","/delete");
                  frm.attr("method","post");
                  frm.submit();
               	}
            }else{
               alert("선택해주세요.");
            }
            var idList=[];
         $.each($checked, function(k,v){
            idList.push($(this).val());
         });
         console.log(idList);
         console.log(idList.join(','));
         }
      </script>
      <script>
         function todoPopupShow(){
            $("#todo-write-popup").css('opacity','100').css('visibility','visible');
            $(".popup-back").css('opacity','0.6').css('z-index','100');
         }
      </script>
      <script>
         $(document).mouseup(function(e){;
            if($("#todo-write-popup").has(e.target).length === 0){
               $("#todo-write-popup").css('opacity','0').css('visibility','hidden');
               $(".popup-back").css('opacity','0').css('z-index','-1');
            }
         });
      </script>
	
   </th:block>
</html>