<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>viewtemplate</title>
</head>
<body>
	<form id="form" name="form" method="post" action="/writereport"  >
	<div th:if="${dto.gettemplate_num.equals(1)}">
		<div>
			<div th:text="${dto.gettemplate_num}"></div>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_title}"></div>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_question1}"></div>
			<input type="text" name="answer1" placeholder='내용을 작성해주세요.' style="width: 20%"/>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_question2}"></div>
			<input type="text" name="answer2" placeholder='내용을 작성해주세요.' style="width: 20%"/>
		</div>
		<br/>	
		<div>
			<div th:text="${dto.gettemplate_question3}"></div>
			<input type="text" name="answer3" placeholder='내용을 작성해주세요.'  style="width: 20%"/>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_question4}"></div>
			<input type="text" name="answer4" placeholder='내용을 작성해주세요.' style="width: 20%"/>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_question5}"></div>
			<input type="text" name="answer5" placeholder='내용을 작성해주세요.' style="width: 20%"/>
		</div>
		<br/>	
		<div>
			<div th:text="${dto.gettemplate_question6}"></div>
			<input type="text" name="answer6" placeholder='내용을 작성해주세요.'  style="width: 20%"/>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_question7}"></div>
			<input type="text" name="answer7" placeholder='내용을 작성해주세요.'  style="width: 20%"/>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_image}"></div>
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_date}"></div> 
		</div>
		<br/>
		<div>
			<div th:text="${dto.gettemplate_writer}"></div>
		</div>
	</div>	
		<input type="submit" name="제출" value="제출" />
	</form>
		<button onclick="location.href='/templateselect'" name="취소" value="취소">취소</button>		
</body>
</html>