<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>보고서</title>
</head>
<style>
	.ui-datepicker { width: 270px; padding: 0; display: none; border: 0; margin-top: 10px;}
	.ui-widget.ui-widget-content { border: 0; border-radius: 0; overflow: hidden; background: #fff; box-shadow: 0 0 rgba(0,0,0,0.3) }
	.ui-datepicker .ui-widget-header { position: relative; padding: 6px 0 36px 0; border: 0; background: rgb(255, 128, 128); color: #fff; border-radius: 0; }
	.write {position: fixed; bottom: 8px; left: 1000px; }
</style>
<body>
	<button type="button" id="all" onclick="">전체 보고서</button>
	<button type="button" id="bookmark" onclick="">북마크</button>
	<button type="button" id="mine" onclick="">내 보고서</button><br/>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  	<input class="datepicker">
	
	<script>
	  	$(function(){
	    	$('.datepicker').datepicker();
	  	})
	</script>
	<script>
		$.datepicker.setDefaults({
		  dateFormat: 'yy-mm-dd',
		  prevText: '이전 달',
		  nextText: '다음 달',
		  monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		  monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		  dayNames: ['일', '월', '화', '수', '목', '금', '토'],
		  dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
		  dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
		  showMonthAfterYear: true,
		  yearSuffix: '년'
		});
	
		$(function () {
		  $('.datepicker').datepicker();
		});
	</script>
	
	<div class="write">
		<button type="button" id="write" onclick="">보고서 작성</button>
	</div>
	
</body>
</html>