<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<body>
<span><input type="button" name="allTodo" value="전체 할 일"></span>
<span><input type="button" name="myTodo" value="내가 배정한 할 일"></span>
<span><a th:href="@{/write}">+ 할일 만들기</a></span><br/>
<!-- <form th:action="@{/todo/+${communication_num}}" th:object="${communicationDTO}" method="get">
	<input type="date" th:field="*{communication_start}">
	~
	<input type="date" th:field="*{communication_end}">
	<select>
		<option value="${communication_title}">제목</option>
		<option value="${communication_assign}">배정대상</option>
		<option value="state">상태</option>
	</select>
	<input th:field="*{keyword}" type="text" placeholder="검색어를 입력하세요.">
	<input type="submit" value="검색"/>
</form> -->
<input type="text" id="demo" name="demo" value="" />
<button type="button" name="scheduled">진행예정</button>
<button type="button" name="proceeding">진행중</button>
<button type="button" name="finish">진행완료</button>
	<form action="/delete" id="frm" method="post">
<div>
	<table border="1" id="">
		<tr>
			<th><input type="checkbox" id="chkAll"/></th>
			<th>No.</th>
			<th>타이틀</th>
			<th>시작일</th>
			<th>종료일</th>
			<th>배정대상</th>
			<th>상태</th>
			<th>작성자</th>
		</tr>
		<tr th:each="dto : ${list}" >
			<td><input type="checkbox" class="chk" name="deleteId" th:value="${dto.communication_num}"></td>
			<td th:text="${dto.communication_num}"></td>
			<td>
				<a th:href="@{'/view/'+${dto.communication_num}}">
					<span th:text="${dto.communication_title}"></span>
				</a>
			</td>
			<td th:text="${dto.communication_start}">시작일</td>
			<td th:text="${dto.communication_end}">종료일</td>
			<td th:text="${dto.communication_assign}">배정자</td>
			<td th:text="${dto.communication_state}">상태</td>
			<td th:text="${dto.employee_name}">작성자</td>
		</tr>
	</table>
	 <div th:object="${pageMaker}">
                    <div class="big-width" style="text-align: center">
                        <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                        <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                            <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                            <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="@{/todo/{num}(num=${num})}"><code th:text="${num}"></code></a>
                        </th:block>
                        <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                    </div>
                    <div class="small-width" style="text-align: center">
                        <a class="changePage" th:if="*{criteria.pageNum > 1}" th:href="*{criteria.pageNum - 1}"><code>&lt;</code></a>
                        <code th:text="*{criteria.pageNum}"></code>
                        <a class="changePage" th:if="*{criteria.pageNum < realEnd}" th:href="*{criteria.pageNum + 1}"><code>&gt;</code></a>
                    </div>
                    <form action="todo" th:object="${criteria}" name="pageForm">
                        <input type="hidden" name="pageNum" th:field="*{pageNum}">
                        <input type="hidden" name="amount" th:field="*{amount}">
                    </form>
                </div>
           </div>
	<button type="button" onclick="fnDelete()">삭제</button>
	</form>
	


</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script th:inline="javascript">
		//heder checkbox event
	$(document).ready(function() {
	$("#chkAll").click(function() {
		if($("#chkAll").is(":checked")) $("input[name=deleteId]").prop("checked", true);
		else $("input[name=deleteId]").prop("checked", false);
	});

	$("input[name=deleteId]").click(function() {
		var total = $("input[name=deleteId]").length;
		var checked = $("input[name=deleteId]:checked").length;

		if(total != checked) $("#chkAll").prop("checked", false);
		else $("#chkAll").prop("checked", true); 
	});
});
		//body checkbox event
		$("input[name='deleteId']").click(function(){
			let dellnpLen = $("input[name='deleteId']").length;
			let dellnpChkLen = $("input[name='deleteId']:checked").length;
			if(dellnpLen == dellnpChkLen){
				$("#chkAll").prop("checked",true);
			}else{
				$("#chkAll").prop("checked",false);
			}
		});
		
		function fnDelete(){
			let dellnpChkLen = $("input[name='deleteId']:checked").length;
			if(dellnpChkLen > 0){
				if(confirm("삭제하시겠습니까?")){
					let frm = $("#frm");
					frm.attr("action","/delete");
					frm.attr("method","post");
					frm.submit();
				}
			}else{
				alert("선택해주세요.");
			}
			var idList=[];
		$.each($checked, function(k,v){
			idList.push($(this).val());
		});
		console.log(idList);
		console.log(idList.join(','));
		}
		//data picker
		$('#demo').daterangepicker({
		    "locale": {
		        "format": "YYYY-MM-DD",
		        "separator": " ~ ",
		        "applyLabel": "확인",
		        "cancelLabel": "취소",
		        "fromLabel": "From",
		        "toLabel": "To",
		        "customRangeLabel": "Custom",
		        "weekLabel": "W",
		        "daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
		        "monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
		    },
		    "startDate": new Date(),
		    "endDate": new Date(),
		    "drops": "auto"
		    
		    
		}, function (start, end, label) {
		    console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
		    console.log(start.format('DD'));
		    
		});
		
		$(document).ready(function(){
			$.ajax({
				url: "/todo/1",
				type: "GET",
				data: JSON.stringify({
					"start":start, "end":end}),
				dataType: "json",
				contentType: "application/json;charset=UTF-8",
				
			})
		})
		
		
	 console.log(/*[[${list[0].communication_start}]]*/);
		
	</script>
</html>
