<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<a th:href="@{/todo/1}"> <!-- 수정예정 뒤로가기로 -->
	<span th:text="'←'+${dto.communication_title}"></span>
</a><br/>
<span th:text="${dto.employee_name}"></span>
<span th:text="${dto.communication_start}"></span>

<h4>할 일 정보</h4>
<div>
	<label>기간</label> &nbsp; &nbsp; | &nbsp; &nbsp;<label>배정 대상</label><br/>
	<span th:text="${dto.communication_start}">~</span>
	<span th:text="${dto.communication_end}"></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<span th:text="${dto.communication_assign}"></span>
</div>

<h4>작업</h4>
<span th:text="${dto.communication_content}"></span>
<input type="hidden" name="communication_num" th:value="${dto.communication_num}">
<a th:href="@{'/edit/'+ ${dto.communication_num}}">
<button>수정하기</button>
</a>
<form th:action="@{/deleteBoard}" id='frm' method="get">
<input type="hidden" name="communication_num" th:value="${dto.communication_num}">
<input type="submit" id="delete" value="삭제하기">
</form>


</body>
</html>