<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	<link rel="stylesheet" type="text/css" href="css/schedule.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	 <script src="/js/app/schedule.js" defer></script>
	</head>
	<body>
		<div class="sec_cal">
		  <div class="cal_nav">
		    <a href="javascript:;" class="nav-btn go-prev">prev</a>
		    <div class="year-month"></div>
		    <a href="javascript:;" class="nav-btn go-next">next</a>
		  </div>
		  <div class="cal_wrap">
		    <div class="days">
		      <div class="day">총 근무시간</div> 
		      <div class="day">MON</div>
		      <div class="day">TUE</div>
		      <div class="day">WED</div>
		      <div class="day">THU</div>
		      <div class="day">FRI</div>
		      <div class="day">SAT</div>
		      <div class="day">SUN</div>
		    </div>
		  </div>
		</div>
	 <div class="dates">  </div>
	</body>
</html>
