 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Sign List</title>
</head>
<div layout:fragment="content">

	 <div id="todo-btn-wrap">
         <form th:action="@{/signlist}" method="get"> 
            <button class="todo-btns" type="submit" name="TestDAO" value="테스트용">
               <span>테스트용</span>
               <span th:text="${TestDAO}"></span>
            </button>
            <button class="todo-btns" type="submit" name="ReportDAO" value="보고서">
               <span>보고서</span>
               <span th:text="${ReportDAO}"></span>
            </button>
            <button class="todo-btns" type="submit" name="DayoffDAO" value="근태">
               <span>근태</span>
                <span th:text="${DayoffDAO}"></span>
            </button>
         </form>
      </div>

	<div class="sign-list-wrap">
		<table width=100%>
			<thead>
				<tr>
					<th class="sign-th">번호</th>
					<th class="sign-th" style="font-size: 16px; font-weight: 600;">제목</th>
					<th class="sign-th">분류</th>
					<th class="sign-th">작성자</th>
					<th class="sign-th">승인상태</th>
					<th class="sign-th">작성일</th>
					<th class="sign-th">결재자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto:${signlist}" >
					<td style="text-align: center; width:50px; font-size:13px; font-weight: 300;" ><span th:text="${dto.sign_num}"></span></td>
					<td style="width:700px;">
						<a th:href="@{/signpage/{sign_num}(sign_num = ${dto.sign_num})}">
							<span th:text="${dto.sign_req_title}"></span>
						</a>
					</td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="테스트용"></span></td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.sign_res_name}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.sign_status}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.sign_begin}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.sign_first}"></span></td>
				</tr>
				<tr th:each="dto:${signlist1}" >
					<td style="text-align: center; width:50px; font-size:13px; font-weight: 300;" ><span th:text="${dto.template_board_num}"></span></td>
					<td style="width:700px;">
						<a th:href="@{/reportviewsign/{template_board_num}(template_board_num = ${dto.template_board_num})}">
							<span th:text="${dto.gettemplate_title}"></span>
						</a>
					</td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="보고서"></span></td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.employee_name}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.template_board_sign_status}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.template_board_date}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.template_board_sign_name}"></span></td>
				</tr>
				<tr th:each="dto:${signlist2}" >
					<td style="text-align: center; width:50px; font-size:13px; font-weight: 300;" ><span th:text="${dto.dayoff_num}"></span></td>
					<td style="width:700px;">
						<a th:href="@{/dayoffpage/{dayoff_num}(dayoff_num = ${dto.dayoff_num})}">
							<span th:text="${dto.type_category}"></span>
						</a>
					</td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="근태"></span></td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.employee_name}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_status}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_date}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_approver}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
		<ul class="pagination">
			<li class="paginate_button page-item previous <c:if test='${list.startPage<6 }'>disabled</c:if>" id="dataTable_previous"><a href="/signlist/list?currentPage=${list.startPage-5 }" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
				<c:forEach var="pNo" begin="${list.startPage }" end="${list.endPage }" step="1">
			<li class="paginate_button page-item  <c:if test='${param.currentPage eq pNo }'>active</c:if>"><a href="/signlist/list?currentPage=${pNo }" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">${pNo }</a></li>
				</c:forEach>
			<li class="paginate_button page-item next <c:if test='${list.endPage>=list.totalPages }'>disabled</c:if>" id="dataTable_next"><a href="/signlist/list?currentPage=${list.startPage+5 }" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
		</ul>
	</div>
	
	
</div>
</html>