<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<input type="button" name="all" value="전체 게시물">
<input type="button" name="my" value="내 게시물">
<input type="button" name="bookmark" value="북마크"><br/>
<input type="date" name="date" value="date">
<select name="category">
	<option value="">전체 카테고리</option>
	<option value="오점뭐">오점뭐</option>
	<option value="업무">업무</option>
</select><br/>
<button type="button" name="wating">처리대기중</button>
<button type="button" name="solved">해결완료</button>
<button type="button" name="nomal">일반</button>
<button type="button" name="write">게시물 작성</button></br>
<label>전체 </label>&nbsp &nbsp &nbsp &nbsp &nbsp;
<label>상태 </label>
<select name="state">
	<option value="allstate">전체상태</option>
	<option value="wating">처리대기중</option>
	<option value="solved">해결완료</option>
	<option value="nomal">일반</option>
</select>
<label>정렬 </label>
<select name="period">
	<option value="recent">최근 순</option>
	<option value="oldest">오래된 순</option>
</select><br/>

 
</body>
</html>