<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	<div>
		<span>출퇴근 현황</span>
		<span>통계</span>
	</div>

	<input type='date' id='currentDate' value=''/>
	<select>
		<option selected>직원</option>
		<option value="${dao.employee_name}">${dao.employee_name}</option>
		<option value="${dao.employee_name}"></option>
		<option value=""></option>
		<option value=""></option>
	</select>

	<h3>출퇴근 현황</h3><!-- grid 사용 -->
	<p>단위 : 명</p>
	<p>출근율</p>
	<table>
 		<tr th:each="dao : ${attRate1}">
			<td th:text="${dao.attRate1}"></td>
		</tr> 	
		<tr th:each="dao : ${attRate2}">
			<td th:text="${dao.attRate2}"></td>
		</tr>
	</table>




<!-- 	<p>사람 아이콘 0/0</p> -->

<!-- 	<br/> -->
	
<!-- 	<div> -->
<!-- 		<button>출근함</button> -->
<!-- 		-명 -->
<!-- 		당일 출근시각이 현재시각보다 빠른사람 select -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>출근전</button> -->
<!-- 		9시 이전이며 출근시각이 존재하지 않는 직원 select -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>미출근</button> -->
<!-- 		9시 이후이며 출근시각이 존재하지 않는 직원 select -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>출근 대상</button> -->
<!-- 		스케줄 상 대조.. -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>지각</button> -->
<!-- 		9시 이후이며 출근시각이 존재하지 않는 직원 select -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>조퇴</button> -->
<!-- 	</div> -->
	
<!-- 	<h3>스케줄</h3> -->
<!-- 	<div> -->
<!-- 		<button>출근 대상</button> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>휴무</button> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>휴가</button> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>교육</button> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>기타</button> -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		<button>일정없음</button> -->
<!-- 	</div> -->
	
<!-- 	<table> -->
<!-- 		<tr> -->
<!-- 			<td>이름</td> -->
<!-- 			<td>직급</td> -->
<!-- 			<td>근무상태</td> -->
<!-- 			<td>스케줄</td> -->
<!-- 			<td>출퇴근시각</td> -->
<!-- 			<td></td><td></td> -->
<!-- 			<td>특이사항</td> -->
<!-- 			<td>지각</td> -->
<!-- 			<td>조퇴</td> -->
<!-- 		</tr> -->
<!-- 		<tr th:each="dao : ${totalAtt}"> -->
<!-- 			<td th:text="${dao.employee_name}"></td> -->
<!-- 			<td th:text="${dao.job_name}"></td> -->
<!-- 			<td th:text="${dao.type_category}"></td> -->
<!-- 			<td th:text="${dao.schedule_name}"></td> -->
<!-- 			<td th:text="${dao.attendance_workstart}"></td> -->
<!-- 			<td>-</td> -->
<!-- 			<td th:text="${dao.attendance_workend}"></td> -->
<!-- 		</tr> -->
<!-- 	</table> -->
	
<!-- 	<div> -->
<!-- 		<p>전체인원</p> -->
<!-- 	</div> -->
	
<!-- 	전체 xx 다운로드 공지/설문 발송 -->
<!-- 	새로고침 버튼 선택된 출퇴근 상태 -->
<!-- 	이름 직급 선택바 근무상태 선택바 -->
	
<!-- 	<script> -->
<!-- 		document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10); -->
<!-- 	</script> -->
 </body> 
</html>