<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Sign List</title>
</head>
<div layout:fragment="content">
	<div class="sign-list-wrap">
		<table width=100%>
			<thead>
				<tr>
					<th class="sign-th" style="border-right:1px solid #d3d3d3;">번호</th>
					<th class="sign-th">종류</th>
					<th class="sign-th" style="font-size: 16px; font-weight: 600;">상세이유</th>
					<th class="sign-th">시작일</th>
					<th class="sign-th">종료일</th>
					<th class="sign-th">승인 여부</th>
					<th class="sign-th">작성일</th>
					<th class="sign-th">승인자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto,i:${vacationlist}" >
					<td style="text-align:center; width:50px; font-size:13px; font-weight: 300; border-right: 1px solid #d3d3d3;" ><span th:text="${total-i.index}"></span></td>
					<td style="width:100px; text-align: center;">
						<a th:href="@{/vacationPage/{dayoff_num}(dayoff_num = ${dto.dayoff_num})}">
							<span th:text="${dto.type_category}"></span>
						</a>
					</td>
					<td style="width:600px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_reason}"></span></td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_begin}"></span></td>
					<td style="width:200px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_end}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_status}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_date}"></span></td>
					<td style="width:100px; text-align: center; font-size:14px; font-weight: 200;"><span th:text="${dto.dayoff_approver}"></span></td>
				</tr>
				
				<form action="/vacationWrite" method="get">
				<button class="todo-write-btn" type="submit">+ 할일 만들기</button>
				</form>
			</tbody>
		</table>
	</div>
</div>
</html>