<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div layout:fragment="content">
	<div class="todo-info-wrap">
		<div style="display: flex; align-items: center; margin-bottom: 10px;">
			<a th:href="@{/notice/1}" style="display: inline-block;">
				<span>
					<i class="back-icon icon"></i>
				</span>
			</a>
			<h4 style="float: left; display: inline-block; margin:0;">공지사항 정보</h4>
		</div>
		<div class="todo-info">
			<h5 th:text="${dto.communication_title}" style="margin-bottom: 40px;"></h5>
			<span th:text="${dto.employee_name}"></span>
			<h5>작성일</h5>
			<span th:text="${dto.communication_date}"></span>
			
		
		</div>
		<div class="todo-info-content">
			<h4>작업 내용</h4>
			<p th:text="${dto.communication_content}"></p>
			<input type="hidden" name="communication_num" th:value="${dto.communication_num}">
			<div class="todo-info-content-btn">
				<input type="button" id="edit" onclick="editPopupShow()" value="수정">
				<form th:action="@{/ndeleteBoard}" id='frm' method="get">
				<input type="hidden" name="communication_num" th:value="${dto.communication_num}">
					<input type="submit" id="delete" value="삭제">
				</form>
				
			</div>
		</div>
	</div>
	<div class="popup-back">
	</div>
	<div id="todo-edit-popup">
		<form th:action="@{'/nedit/'+ ${dto.communication_num}}" method="post">
			<input type="hidden" name="communication_num" th:value="${dto.communication_num}">
			<input type="submit" value="저장" class="todo-write-save">
		
			<label>타이틀</label><br/>
			<input type="text" name="title" th:value="${dto.communication_title}" class="edit-title"><br/><br/>

			
			<label>작성일</label><br/>
			<input type="date" name="date" th:value="${dto.communication_date}"><br/>
			<label>작업</label><br/>
			<input type="text" name="content" th:value="${dto.communication_content}">
		</form>
		
			
	</div>
</div>
<th:block layout:fragment="script">
	<script type="text/javascript">
		function editPopupShow(){
			$("#todo-edit-popup").css('opacity','100').css('visibility','visible');
			$(".popup-back").css('opacity','0.6').css('z-index','100');
		}
	</script>
	<script>
		$(document).mouseup(function(e){;
			if($("#todo-edit-popup").has(e.target).length === 0){
				$("#todo-edit-popup").css('opacity','0').css('visibility','hidden');
				$(".popup-back").css('opacity','0').css('z-index','-1');
			}
		});
	</script>
</th:block>
</html>